In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_csv('data/glassdoor_reviews.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838566 entries, 0 to 838565
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   firm                 838566 non-null  object
 1   date_review          838566 non-null  object
 2   job_title            838566 non-null  object
 3   current              838566 non-null  object
 4   location             541223 non-null  object
 5   overall_rating       838566 non-null  int64
 6   work_life_balance    688672 non-null  float64
 7   culture_values       647193 non-null  float64
 8   diversity_inclusion  136066 non-null  float64
 9   career_opp           691065 non-null  float64
 10  comp_benefits        688484 non-null  float64
 11  senior_mgmt          682690 non-null  float64
 12  recommend            838566 non-null  object
 13  ceo_approv           838566 non-null  object
 14  outlook              838566 non-null  object
 15  headline             835976 non-null  object
 16  pros                 838564 non-null  object
 17  cons                 838553 non-null  object
dtypes: float64(6), int64(1), object(11)
memory usage: 115.2+ MB

In [9]:
# df.isna().sum()
df = df.dropna()
df.count()

firm                   108544
date_review            108544
job_title              108544
current                108544
location               108544
overall_rating         108544
work_life_balance      108544
culture_values         108544
diversity_inclusion    108544
career_opp             108544
comp_benefits          108544
senior_mgmt            108544
recommend              108544
ceo_approv             108544
outlook                108544
headline               108544
pros                   108544
cons                   108544
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108544 entries, 50 to 838565
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   firm                 108544 non-null  object
 1   date_review          108544 non-null  object
 2   job_title            108544 non-null  object
 3   current              108544 non-null  object
 4   location             108544 non-null  object
 5   overall_rating       108544 non-null  int64
 6   work_life_balance    108544 non-null  float64
 7   culture_values       108544 non-null  float64
 8   diversity_inclusion  108544 non-null  float64
 9   career_opp           108544 non-null  float64
 10  comp_benefits        108544 non-null  float64
 11  senior_mgmt          108544 non-null  float64
 12  recommend            108544 non-null  object
 13  ceo_approv           108544 non-null  object
 14  outlook              108544 non-null  object
 15  headline             108544 non-null  object
 16  pros                 108544 non-null  object
 17  cons                 108544 non-null  object
dtypes: float64(6), int64(1), object(11)
memory usage: 15.7+ MB